.statement.plain{
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.6rem 0.6rem 0.6rem 1.2rem;
    border-left: 5px solid #ee6e73;
    margin: 1.5em 0em;
    color: black;
}

.statement.example.definition{
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.6rem 0.6rem 0.6rem 1.2rem;
    border-left: 5px solid #0565f6;
    margin: 1.5em 0em;
    color: black;
}

.statement.definition{
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.6rem 0.6rem 0.6rem 1.2rem;
    border-left: 5px solid #0565f6;
    margin: 1.5em 0em;
    color: black;
}

.statement.plain .statement-label{
    font-weight: bold;
}

.statement.note.unnumbered{
    margin: 2em auto;
    padding: 0.5em;
    font-size: 85%;
    width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
}

.statement.definition .statement-label{
    font-weight: bold;
}

.statement.proof .statement-label{
    font-weight: bold;
}
.statement.plain p:first-child{
    text-indent: 0pt;
}

.statement.plain .statement-info{
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}
.csl-entry{
    border-left: 1px solid #777;
    padding-left: 1em;
    margin-left: 2em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 0em;
    font-size: 100%;
    line-height: 150%;
}